
            .fixed_head {
            position: fixed;
            background-color: black;
            width: 100%;
            height: 0px;
            top: 0px;
            left: 0px;
            z-index: 10;
        }

        .fixed_title {
            position: fixed;
            color: white;
            top: -30px;
            left: 20px;
            font-family: Courier New;
            z-index: 10;
        }

    .picturetitle {
        position: relative;
      }
  
      .picturetitle h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-family: Times New Roman;
        letter-spacing: 7px;
        font-size: 110%;
      }
  
      .picturetitle {
        background: #000;
      }
  
      .picturetitle img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
        opacity: 1;
        transition: 0.8s;
      }
  
      .picturetitle:hover img {
        opacity: 0.6;
        transition: 0.8s;
      }
  
      .head {
        position: fixed;
        background-color: black;
        width: 100%;
        height: 40px;
        top: 0px;
        left: 0px;
      }
  
      .inner {
        position: fixed;
        color: white;
        top: 10px;
        left: 20px;
        font-family: Courier New;
      }
  
      .body {
        text-align: center;
        position: relative;
        top:100px;
        opacity: 0;
      }
  
      .object .picturemessage img,
      .objectbig .picturemessage img {
        border-radius: 50%;
        height: 180px;
        width: 180px;
        position: relative;
        transition: 0.8s;
      }
  
      .object .picturemessage h2,
      .objectbig .picturemessage h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        color: #000000;
        border-bottom: solid 3px #000000;
        font-family: Times New Roman;
        letter-spacing: 10px;
        width: 200px;
        transition: 0.8s;
      }
  
      .object .picturemessage,
      .objectbig .picturemessage {
        position: relative;
      }
  
      .object:hover .picturemessage img,
      .objectbig:hover .picturemessage img {
        opacity: 0.15;
        height: 190px;
        width: 190px;
        transition: 0.8s;
      }
  
      .object:hover .picturemessage h2,
      .objectbig:hover .picturemessage h2 {
        letter-spacing: 15px;
        width: 230px;
        transition: 0.8s;
        font-size: 120%;
      }
  
      .object,
      .objectbig {
        transition: 0.8s;
        margin-left: auto;
        margin-right: auto;
        height: 190px;
        width: 30%;
        min-width: 190px;
        max-width: 300px;
      }
  
      .object .text,
      .objectbig .text {
        transition: 0.8s;
        height: -10px;
        font-size: 0%;
        opacity: 0.0;
        font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium";
      }
  
      .object:hover {
        height: 280px;
        transition: 0.8s;
        width: 30%;
        min-width: 190px;
        max-width: 300px;
      }
  
      .objectbig:hover {
        height: 450px;
        transition: 0.8s;
        width: 30%;
        min-width: 190px;
        max-width: 300px;
      }
  
      .object:hover .text,
      .objectbig:hover .text {
        transition: 0.8s;
        height: 150px;
        font-size: 100%;
        width: 100%;
        opacity: 1.0;
      }
  
      .object:hover .text .btn p,
      .objectbig:hover .text .btn p {
        transition: 0.3s;
        font-size: 100%;
      }
  
      .btn p {
        color: black;
        transition: 0.3s;
        font-size: 0%;
      }
  
      .btn {
        text-decoration: none;
      }
  
      .btn p:hover {
        transition: 0.3s;
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: blue;
        background: #ffffff;
        border: solid 1px #0f9ada;
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      }
  
      .btn p:hover {
        font-size: 125%;
        transition: 0.3s;
        margin-top: auto;
        margin-bottom: auto;
      }
  
      .fade {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 100px;
        opacity: 0;
      }

  
      .margin {
        margin-bottom: 100px;
      }
  
      .margin2 {
        margin-bottom: 10px;
      }


      
      .skip {
        position: fixed;
        bottom: 10%;
        left: 90%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }

    
    .skip a{
	color:#000000;
	text-decoration:none;
  }